@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* size for the responsive design */
:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --nav-font-color: red;
    --nav-bg-color: rgb(0, 0, 0);
}
html {
    min-height: 100%;
    position: relative;
  }
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("../images/crazyrace.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-items: center;
    margin: 0%;
}
.titles{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
}
.links:link,
.links:visited {
    text-decoration: none;
    /* color: var(--nav-font-color); */
    font-size: larger;
}

/* NAVIGATION BAR */
.nav_bar {
    width: 100%;
    background-color: var(--nav-font-color); 
}   

.nav_wrapper {
    padding: 10px;
    height: 50px;
    background-color: var(--nav-bg-color);
    color: var(--nav-font-color);
}

.sidenav {
    margin: auto;
    padding: 10px 0px;
}

.sidenav li {
    display: inline;
    list-style-type: none;
    padding: 0 20px; 
}

.links {
    color: var(--nav-font-color);
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-in-out; 
}

.links:hover {
    background-color: var(--nav-font-color);
    color: var(--nav-bg-color);
}

/* ICONS IN NAV BAR */
.icon {
    font-size: 24px;
    color: white;
    transition: color 0.3s ease-in-out;
}

.icon:hover {
    color: var(--nav-bg-color); /* Los íconos también cambian a rojo al pasar el cursor */
}

/* Dificulty */
.dificulty {
    background-color: rgba(231, 25, 25, 0.767);
    margin: 10px;
    font-size: larger;
    color: black;
}
/* FORM items */
.form_section {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contact_form {
    background-color: rgba(148, 132, 111, 0.711);
    border-radius: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 50px 0;
}

.form_items {
    text-align: center;
    margin: 20px;
}

.form_items input,
textarea {
    height: 50px;
    width: 100%;
    border-radius: 3%;
    background-color: rgba(240, 248, 255, 0.4);
}

.form_items textarea {
    height: 300px;
}

/* Form div new divition  */
#thanksWrapper {
    background-image: url("../images/thanks_velimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 320px;

}

.thanksMessage {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-shadow:
        0 1px 0 rgb(185, 117, 117),
        0 2px 0 #e81414,
        0 3px 0 rgba(220, 26, 26, 0.8),
        0 4px 0 #c48989,
        0 5px 0 rgb(210, 136, 136);
    text-align: center;
    padding: 2% 0;
    animation: colorAnimation 5s linear infinite;
}

.thanksDiv a:visited,
a:hover,
.thanksDiv a:link,
.thanksDiv a:visited {
    color: white;
    border: solid #000000 1px;
    text-decoration: none;
}

#formId {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

/* instructions */
.instructions {
    padding: 0;
    width: 100%;
    height: 600px;
}
.instruction_text{
    background-color: #ffffff8c;
}
.instructions_pic {
    width: 280px;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
}

.footer-content p {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
    max-width: 500px;
    margin: 0 auto 20px;
}

.socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.socials li a:hover {
    color: #ff6600;
}

.footer-bottom {
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}


/* 404 stile */
.errorMessage {
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    text-shadow:
        0 1px 0 rgb(185, 117, 117),
        0 2px 0 #e81414,
        0 3px 0 rgba(220, 26, 26, 0.8),
        0 4px 0 #c48989,
        0 5px 0 rgb(210, 136, 136);
    text-align: center;
    padding: 2% 0;
    animation: colorAnimation 5s linear infinite;

}

.div404 {
    color: #fff;
    font-size: 8em;
    font-weight: bold;
    text-shadow:
        0 1px 0 rgb(185, 117, 117),
        0 2px 0 #e81414,
        0 3px 0 rgba(220, 26, 26, 0.8),
        0 4px 0 #c48989,
        0 5px 0 rgb(210, 136, 136);
    text-align: center;
    padding: 2% 0;
    animation: colorAnimation 5s linear infinite;
}

.title404 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-shadow:
        0 1px 0 rgb(185, 117, 117),
        0 2px 0 #e81414,
        0 3px 0 rgba(220, 26, 26, 0.8),
        0 4px 0 #c48989,
        0 5px 0 rgb(210, 136, 136);
    padding: 5% 0;
    animation: colorAnimation 5s linear infinite;

}

/* space at the end to fully the page */
.spaces {
    width: 100px;
    height: 400px;

}

section {

    height: 770px;
    align-items: center;
    text-align: center;
    background-image: url("../images/title_race.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
}

/* inside section */


.main_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    background-image: url("../images/background_flames.png");
    background-position: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
}

.main_div h3 {
    color: black;
    background-color: rgba(232, 7, 7, 0.761);
    border-radius: 20%;
}

/* cars type selector style */
.carsWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 15px;
}

.car_selector {
    width: 40px;
    height: 70px;
    background-size: cover;
    margin: 20px;
    border: solid var(--secondary-color) 3px;

}

/* Ego car styles */
.car1 {
    background-image: url("../images/ego_red.png");
}

.car2 {
    background-image: url("../images/ego_black.png");
}

.car3 {
    background-image: url("../images/ego_orange.png");
}

.car4 {
    background-image: url("../images/ego_white.png");
}

/* play button */
.main_menu_play {
    bottom: 10%;
    text-decoration: none;
    color: black;
    border-radius: 8%;
    border: solid 1px black;
    background-color: red;
    animation: groundAnimation 5s linear infinite;
    font-size: 50px;
}

/* Title in index */
.main_title {
    background-size: cover;
    color: black;
    margin: 0px 25%;
    width: fit-content;
    bottom: 10%;

}

.main_menu_play a:link,
.main_menu_play a:visited {
    text-decoration: none;
    color: black;
    background-color: beige;
}

/* game style */
.game {
    position: relative;
    height: 460px;
    width: 500px;
    display: inline-block;
}
#space{
    height: 100px;
}
/* division inside of the environment */
.road {
    height: 400px;
    width: 500px;
    background-image: url("../images/background_way.png");
    background-size: cover;
    overflow: hidden;
    animation: backgroundmove 5s linear infinite;
}

/* div inside of the road */
.container {
    height: 800px;
    width: 250px;
    padding: 0;
    margin: 0;
    top: 0%;
    left: 0%;
    background-image: url("../images/background_game.png");
    position: relative;
    background-repeat: repeat;
    background-size: cover;
    background-position: 0 0;
    display: inline-block;
    animation: backgroundmove 5s linear infinite;
}

/* car div style */
#car {
    width: 20px;
    height: 38px;
    position: absolute;
    /* background: url("../images/ego_white.png") no-repeat; */
    top: 350px;
    left: 30px;
    background-size: contain;
    z-index: 1;
}

/* enemies basic */
.enemies {
    width: 20px;
    height: 38px;
    position: absolute;
    left: 50px;
    z-index: 2;
    top: -50px;
}

/* enemies styles */
.enemies1 {
    background: url("../images/car_black.png") no-repeat;
    background-size: contain;
    /* enemies styles */
}

.enemies2 {
    background: url("../images/car_blue.png") no-repeat;
    background-size: contain;
    /* enemies styles */
}

.enemies3 {
    background: url("../images/car_green.png") no-repeat;
    background-size: contain;

}

/* enemies styles */
.enemies4 {
    background: url("../images/car_orange.png") no-repeat;
    background-size: contain;

}

/* score bar */
.notification_bar {
    background-color: #000000;
    color: aliceblue;
    margin: 5px 0;
    width: 250px;
    height: 30px;
}

/* controlls */
.arrow {
    font-size: 30px;
    border-radius: 50%;
    border: ridge;
    color: white;
}

/* variable to use in CSS and modify by js */
:root {
    --background-velocity: 2000px;
}

/* end game style */
.titleEnd {
    background-color: rgba(255, 56, 56, 0.815);
    color: rgb(205, 203, 203);
    margin: 5px 0;
    width: 250px;
    height: 130px;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 13%;
}

.titleEnd a:link,
.titleEnd a:visited {
    text-decoration: none;
    border: solid 0.5px black;
    color: black;
    background-color: beige;
}

/* still here game style */

/* key frame for move the background race */
/* animation for the background road */
@keyframes backgroundmove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 var(--background-velocity);
    }
}

/* animation for the color */
@keyframes groundAnimation {
    0% {
        background-color: rgba(255, 0, 0, 0.224);
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: rgba(255, 0, 0, 0.224);
    }
}
/* animate of colors change gradual */
@keyframes colorAnimation {
    0% {
        color: white;
    }

    50% {
        color: black;
    }

    100% {
        color: white;
    }
}

/* responsive design */
@media screen and (max-width: 480px) {
    body {
        height: 100%;
        background-image: url("../images/crazyrace.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        align-items: center;
        margin: 0%;
    }

    .container {
        width: 250px;
    }

    .game {
        width: 250px;
    }

    .road {
        width: 250px;
    }

    .titleEnd {
        left: 0%;
    }

    footer {
        bottom: 0px;
    }

    .main_div {
        height: 600px;
    }

    section {
        height: 600px;
    }
}