body{
    text-align: center;
    background-image:url("../images/race.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

section{
    height: 300px;
    align-items: center;
    text-align: center;
    background-image: url("../images/title_race.png");
    background-position: center;
    background-repeat: no-repeat;
}
.main_div{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}
.main_menu_play{
    bottom: 10%;
    text-decoration: none;
    color: black;
    border-radius: 8%;
    border: solid 1px black ;
    background-color: red;
    animation: groundAnimation 5s linear infinite;
}
.main_title{
    background-size: cover;
    color: black;
    margin: 0px 25%;
    width: fit-content;
    bottom: 10%;
    
}
.main_menu_play a:link, .main_menu_play a:visited {
    text-decoration: none;
    color: black;
    background-color: beige;
  }
.game{
    position: relative;
    height: 460px;
    width: 500px;
    display: inline-block;
}

.road{
    height: 400px;
    width: 500px;
    background-image: url("../images/background_way.png");
    background-size: cover;
    overflow: hidden;   
    animation: backgroundmove 5s linear infinite;
}
    
/* div inside of the road */
.container{
    height:800px;
    width: 250px;
    padding: 0;
    margin: 0;
    top: 0%;
    left: 0%;
    background-image: url("../images/background_game.png");
    position: relative;
    background-repeat: repeat;
    background-size:cover;
    background-position: 0 0 ;
    display: inline-block;
    animation: backgroundmove 5s linear infinite;
}
/* car div style */
#car{
    width: 20px;
    height: 38px;
    position: absolute;
    background: url("../images/ego_white.png") no-repeat;
    top: 350px;
    left: 30px;
    background-size: contain;
    z-index: 1;
}

.enemies{
    width: 20px;
    height: 38px;
    position: absolute;
    left: 50px;
    z-index: 2;
    top: -50px;
}

.enemies1{
    background: url("../images/car_black.png") no-repeat;
    background-size: contain;

}
.enemies2{
    background: url("../images/car_blue.png") no-repeat;
    background-size: contain;

}
.enemies3{
    background: url("../images/car_green.png") no-repeat;
    background-size: contain;

}
.enemies4{
    background: url("../images/car_orange.png") no-repeat;
    background-size: contain;

}
.notification_bar{
    background-color: #000000;
    color: aliceblue;
    margin: 5px 0;
    width: 250px;
    height: 30px;
}
.arrow{
    font-size: 30px;}
/* variable to use in CSS and modify by js */
:root{
    --background-velocity: 2000px;
}
/* end game style */
.titleEnd{
    background-color: rgba(255, 56, 56, 0.815);
    color: rgb(205, 203, 203);
    margin: 5px 0;
    width: 250px;
    height: 130px;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 13%;
}
.titleEnd a:link, .titleEnd a:visited {
    text-decoration: none;
    border: solid 0.5px black;
    color: black;
    background-color: beige;
  }
/* key frame for move the background race */
@keyframes backgroundmove {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 var(--background-velocity);
    }
}

@media screen and (max-width: 480px) {
    .container{
        width: 250px;
    }
    .game{
        width: 250px;
    }
    .road{
        width: 250px;
    }
    .titleEnd{
        left:0%;
    }
}
@keyframes groundAnimation {
    from{
        background-color: red;
    }
    to{
        background-color: blue;
    }
}